<div class="title_container">
  <h1>Нова подія</h1>
  <%= link_to 'Назад', events_path, class: 'btn btn-custom-color' %>
</div>


<%= render 'form', event: @event, event_params: @event_params, submit_text: 'Створити' %>

