<!-- app/views/event_params/show.html.erb -->
<p>
  <strong>Назва:</strong>
  <%= @event_param.name %>
</p>

<p>
  <strong>Опис:</strong>
  <%= @event_param.description %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Редагувати', edit_event_param_path(@event_param) %> |
<% end %>
<%= link_to 'Назад', event_params_path %>