@import '../styles/mediaQueries.scss';

.comments-section {
  margin-top: 20px;
  transition: width 0.3s ease;
  @include tablet {
    margin-top: 0;
  }
}

.comments-section .expand-button {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.comments-section .comments-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.1s ease;
}

.comments-section .comments-content.expanded {
  width: 40vw;
  min-width: 500px;
}

.comments-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 300px; 
}

.slider-nav {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 10;
}

.comments-slider .prev {
  top: 0;
  left: 0;
  color: rgba(0, 92, 122, 0.34);
};

.comments-slider .next {
  bottom: 0;
  left: 0;
  color: rgba(0, 92, 122, 0.34);
}

.comments-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none;  /* Для IE та Edge */

  &::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari та Opera */
  }
}

.comment.bubble {
  flex: 0 0 auto; 
  max-width: 400px; 
  min-width: 400px;
  min-height: 180px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  margin-right: 15px; 
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

.comment.bubble:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f1f1f1;
}

.comment .email {
  font-size: 0.85em;
  font-weight: bold;
  margin-bottom: 10px;
}

.comment .content {
  font-size: 1em;
  margin-bottom: 10px;
  overflow-wrap: break-word; 
}

.comment strong {
  font-weight: bold;
}

.comment ul {
  padding-left: 20px;
  margin-top: 5px;
  text-align: left;
}

.comment ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

.comment ul li a {
  text-decoration: none;
}

.comment ul li a:hover {
  text-decoration: underline;
}

.attachments-content {
  display: none; /* Ensures content is hidden initially */
}

.attachments-content.expanded {
  display: block; /* Shows content when expanded */
}

.attachments-slider-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 120px;
  margin: 0 auto;
}

.attachments-slider {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  height: 120px;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  width: 100%; 
  padding: 0 40px;
  margin-top: 15px;
}

.slider-nav {
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 10;
  color: #005C7A;
}

.comment-slider-prev {
  top: 30%;
  left: 0;
  color: #005C7A;
}

.comment-slider-next {
  top: 30%;
  right: 0;
  color: #005C7A;
}
.attachments-list {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  margin: 0 auto;
  height: 120px;
  width: 100%; 
  justify-content: center;
  align-items: center;
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для IE та Edge */

  &::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari та Opera */
  }
}

.attachments-slider .attachments-list {
  justify-content: flex-start;
}

.attachment-item {
  flex: 0 0 auto;
  margin-right: 10px;
  max-height: 120px;
  background-color: rgba(108,117, 125 , 0.16);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.attachment-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.attachment-title {
  font-size: 0.85em;
  margin-bottom: 5px;
  color: #007398;
  white-space: nowrap; /* Зберегти текст в одному рядку */
  overflow: hidden; /* Сховати переповнене */
  text-overflow: ellipsis; /* Додати "..." для переповненого тексту */
  max-width: 100px; 
  text-align: center;
}

.attachment-img {
  width: 100px;
  height: 75px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.buttons-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

