.dashboard {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-top: 20px;
}

.latest-events {
  min-width: 300px;
}

.latest-events, .categories-stats {
  background-color: #F5F8FB;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  overflow-x: hidden; 
  scrollbar-width: thin; 
  scrollbar-color: #005C7A #DCE3EB;
}

.latest-events ul {
  padding: 0;
}

.latest-events li {
  list-style: none;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #DCE3EB;
  word-wrap: break-word; 
}

.latest-events li:last-child {
  border-bottom: none;
}

.event-link {
  color: #005C7A;
  text-decoration: none;
}

.event-link:hover, .event-link:focus {
  color: #00455C;
  text-decoration: underline;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.table th {
  background-color: #005C7A;
  color: #FFFFFF;
  padding: 12px;
  text-align: left;
  vertical-align: middle;
}

.table td {
  vertical-align: middle;
  padding: 10px;
  text-align: left;
  border-top: 1px solid #E1E1E1;
}

.table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

.table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-link {
  color: #007398; 
}

.btn-primary:hover {
  color: #005C7A; 
}

@media (min-width: 1000px) {
  .dashboard {
    grid-template-columns: 0.5fr 1fr;
  }

  .latest-events, .categories-stats {
    max-height: 80vh;
  }
}

.latest-events::-webkit-scrollbar,
.categories-stats::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F8FB;
}

.latest-events::-webkit-scrollbar-track,
.categories-stats::-webkit-scrollbar-track {
  background-color: #DCE3EB;
  border-radius: 10px;
}

.latest-events::-webkit-scrollbar-thumb,
.categories-stats::-webkit-scrollbar-thumb {
  background-color: #005C7A;
}

.latest-events::-webkit-scrollbar-thumb:hover,
.categories-stats::-webkit-scrollbar-thumb:hover {
  background-color: #b2c0c5; 
}