  @import '../styles/mediaQueries.scss';
.container {
  max-width: 1200px;
}
.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @include tablet {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }
}

.event-details {
  flex: 1;
  margin-right: 20px;
  transition: width 0.3s ease;
}

.description-cell {
  padding: 5px;
  position: relative;
  min-width: 200px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
}

.description-cell .full-description {
  display: none;
}

.description-cell input[type="checkbox"] {
  display: none;
}

.description-cell input[type="checkbox"]:checked ~ .full-description {
  display: block;
  white-space: normal;
}

.description-cell input[type="checkbox"]:checked ~ .short-description {
  display: none;
}

.show-more-label {
    display: block;
    color: #007398;
    cursor: pointer;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #FFFFFF;
    padding-left: 20px;
}

.show-more-label::before {
    content: '▼';
    position: absolute;
    right: 0;
    bottom: 0;
}

.description-cell input[type="checkbox"]:checked ~ .show-more-label::before {
    content: '▲';
}

.show-more-label::after {
  content: '';
  display: block;
}

.btn-link {
  text-decoration: none;
  font-weight: bold;
  color: #007398;
}
.btn-custom-color {
    color: #005C7A;
    background-color: transparent; 
    border: 1px solid #005C7A;
    white-space: nowrap;
}

.btn-custom-color:hover {
    background-color: rgba(0, 69, 92, 0.1);
    color: #00455C;;
    border-color: #00455C;
}

.search-field {
  max-width: 40%;
}

.title_container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 20px;
}

.form_container{
  display: flex;
  padding: 15px;
  flex-direction: column;
  border: 1px solid #d6d4d4;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(140, 147, 153, 0.345);
  background-color: #F5F8FB;
  gap: 20px;
  margin: 20px 0;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn_primary {
  background-color: #005C7A;
  color: white;
  border: 1px solid #005C7A ;
  width: 100%;
}
.btn_primary:hover {
  background-color: #006b8f;
  color: white;
}

