<!-- app/views/categories/edit.html.erb -->
<h1>Редагувати категорію</h1>

<%= render 'form', category: @category, submit_text: "Редагувати"%>

<%= link_to 'Назад', categories_path, class: 'btn btn-link' %>