<!-- app/views/categories/new.html.erb -->
<div class="title_container">
  <h1>Нова категорія</h1>
  <%= link_to 'Назад', categories_path, class: 'btn btn-custom-color' %>
</div>
<%= render 'form', category: @category, submit_text: "Створити" %>

